<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head('Video Search')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<!--Container start-->
<div class="mt-3 container">
    <!--   Row start: All three sections are in the same row-->
    <div class="row">
        <!--      Responsive user sticky navigation partial-->
        <div th:replace="partials/left-nav :: left-nav"></div>

        <!--        Recent Posts: posts from followed blogs-->
        <div class="col-lg-6">
            <h3 class="dash-header mt-2">Recent Posts</h3>
            <hr style="border: #1674b1 solid 2px;">
            <ul>
                <li><a class="site-link" href="https://www.gutenberg.org/wiki/Main_Page">Project Gutenberg</a>- more
                    info
                </li>
                <li><a class="site-link" href="https://openlibrary.org/">Open Library by Internet Archive</a>- more info
                </li>
                <li><a class="site-link" href="https://openstax.org">OpenStax by Rice University</a>- more info</li>
                <li><a class="site-link" href="https://open.umn.edu/opentextbooks">Open Textbook Library by UMN</a>-
                    more
                    info
                </li>
                <li><a class="site-link" href="https://www.britannica.com/">Encyclopedia Britannica</a>- more info</li>
                <li><a class="site-link" href="https://en.wikipedia.org/wiki/Wikipedia">Wikipedia</a>- more info</li>
            </ul>
        </div>




<div th:replace="partials/footer :: footer"></div>
</body>
</html>